.events{
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.event img{
    width: 100%;
    border-radius: 10px;
    display: block;
}

.event {
    flex-basis: 31%;
    position: relative;
}

.caption{
    border-radius: 10px;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background: rgba(91, 70, 1, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:#fff;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;
}

.caption img{
    width: 60px;
    margin-bottom: 10px;
}

.event:hover .caption {
    opacity: 1;
    padding: 0;
}

.temple-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 0.9rem;
    color: #0c0801;
}

.temple-table th, 
.temple-table td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
}

.temple-table thead tr {
    background-color: #FAB95B;
    color: #ffffff;
    text-align: center;
}

/* Zebra striping for better readability */
.temple-table tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.temple-table tbody tr:hover {
    background-color: #f1f1f1;
}

/* ---- media -----*/


@media(max-width: 650px){
    .events{
        flex-direction: column;
    }
    .event{ 
        flex-basis: 100%;
        margin:20px;
    }
}