.aboutUs{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    flex-direction: row-reverse;
}

.aboutUs-left{
    flex-basis:40%;
    position: relative;
}

.aboutUs-right{
    flex-basis: 56%;
}

.abouUst-img{
    width: 100%;
    border-radius: 10px;
}

.aboutUs-img{
    width: 100%;
    border-radius: 10px;
}

.play-icon{
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.aboutUs h3{
    font-weight: 600;
    font-weight: 16px;
    color: #212EA0;
}

.aboutUs h2{
    font-size: 35px;
    color: #000F38;
    margin: 10px 0;
    max-width: 400px;
}

.aboutUs p{
    color: #676767;
    margin-bottom: 15px;
}

/* ---- media query-----*/


@media(max-width: 800px){
    .aboutUs{
        flex-direction: column;
    }
    
    .aboutUs-left{
        flex-basis: 100%;
        margin: 20px;
        order:2;
    }
    .aboutUs-right{
        flex-basis: 100%;
    }
}