/* .contact{
    margin: 80px auto;
    max-width: 90%;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.contact-col{
    flex-basis: 48%;
    color:#676767;
}

.contact-col h3{
    color: #000F38;
    font-weight: 500;
    font-size: 25px;
}

.contact-col h3 img{
    width: 35px;
    margin-left: 10px;
} */

.contact {
    margin: 80px auto;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-col {
    flex-basis: 48%; /* Splits the width nearly in half */
    color: #676767;
}

.contact-col h3 {
    color: #000f38;
    font-weight: 500;
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-col ul li {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

/* Form Styling */
.contact-col form label {
    display: block;
    margin: 10px 0 5px;
}

.contact-col form input, 
.contact-col form textarea {
    display: block;
    width: 100%;
    background-color: #ebecfe;
    padding: 15px;
    border: 0;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;
}

.form-success {
    padding: 20px;
    background-color: #d4edda;
    color: #155724;
    border-radius: 5px;
    text-align: center;
}

/* Mobile Responsiveness */
@media (max-width: 700px) {
    .contact {
        flex-direction: column;
    }
    .contact-col {
        flex-basis: 100%;
        margin-bottom: 30px;
    }
}